[Desktop Entry]
Name=Calenderdot
Comment=A comic-style calendar applet for the COSMIC desktop
Type=Application
Icon=com.cosmic.calenderdot
Exec=cosmic-calenderdot %F
Terminal=false
StartupNotify=true
NoDisplay=false
Categories=Utility;
Keywords=Calendar;Applet;COSMIC;
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
